body{
    margin: 0;
    padding: 0;
}
.top-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    height: 600px;
    position: relative;
}
.half-width{
    width: 50%;
}
.banner-summ{
    width: calc(100%-400px);
    /* position: absolute; */
    /* right: 40%; */
}
.banner-summ h1{
 font-size: 55px;
 font-family:'Times New Roman', Times, serif;
 width: 700px;
}
h1 span{
    color:orangered;
}
.about-summ p{
    color:dimgray;
    margin-bottom: 100px;
}
.link-btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(35deg,orangered, lightsalmon);
    border-radius: 20px;
    padding: 10px 20px;

}

.banner-image{
    height: 500px;
    width: 400px;
    /* position: absolute; */
    /* left: 55%;
    top: 2%; */
}
.banner-image img{
    height:500px ;
    position: absolute;
    left: 700px;
}

.about-me{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
}

.about-image{
    margin: 10%;
}

.about-image img{
    height: 400px;
    width: 300px;
}

.my-recipie{
    /* height: 500px; */
    margin: 10%;
    color: dimgray;
}


.recipie-card{
    display: flex;
    justify-content: center;
}
.card1, .card2{
    box-shadow: 10px 10px 30px gray;
    margin: 20px;
    border-radius: 20px;
    width: 50%;
    padding: 20px;
}
.card1 h3, .card2 h3{
    color:black ;
}
.card1 img, .card2 img{
    height: 250px;
    width: 99%;
}

.text-center{
    text-align: center;
}
.subscribers{
margin: 10%;
}
.subscribe-card{
    height: 150px;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content:space-around;
    box-shadow: 10px 10px 30px gray;
    border-radius: 20px;
    padding: 20px;
    /* margin-bottom: 50px; */

}
footer{
    background-color: #0b030f;
    color: white;
    padding: 20px;
}


@media screen and (max-width: 660px) {
    .top-banner{
        display: flex;
        flex-direction: column;
        /* position: absolute; */
        clear: both;
        height: 730px;
        flex-wrap: wrap;
        position: relative;



    }
    .top-banner::after{
        content: ' ';
        clear: both;
        display: table;
    }
    .banner-summ{
        grid-column: 1/2;
        position: absolute;
        top: 350px;
        width: 100%;
        height: 400px;
        text-align: center;
    }
    .banner-summ::after{
        clear: both;
        content: ' ';
        display: table;
    }
    .banner-image{
        position: absolute;
        top: 0px;
        width: 100%;
        border-radius: 100%;
        height: 600px;
        display: flex;
        justify-content: center;

    }

    .banner-image img{
        height:400px ;
        position: absolute;
        left: 10%;
        text-align: center;
    }
    
    .link-btn{
        text-decoration: none;
        color: white;
        background-image: linear-gradient(35deg,orangered, lightsalmon);
        border-radius: 20px;
        padding: 10px 20px;
    
    }
    .banner-summ h1{
        font-size: 55px;
        font-family:'Times New Roman', Times, serif;
        text-align: center;
        width: auto;
       }
    .banner-summ p{
        color: dimgray;
        margin-bottom: 20px;
    }

    .about-me{
        display: flex;
        flex-direction: column;
        height: 500px;
    }
    .about-image{
        margin: 0;
        padding: 0;
        width:100%;
        display: flex;
        justify-content: center;
    }
    .about-summ{
        width: 100%;
        text-align: center;
        position: relative;
    }
    .about-image img{
        height: 250px;
        width: 250px;
        border-radius: 50%;
        margin: 0;
        padding: 0;
    }
    .about-summ h2{
        position: absolute;
        top: -400px;
        text-align: center;
        width: 100%;
        font-size: 40px;
    }
    .about-summ p{
        color:dimgray;
        margin-bottom: 20px;
    }

    .recipie-card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .card1{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .card2{
        width: 90%;
        margin: auto 10px;
    }
}